---
// Importiere das Basis-Layout
import BaseLayout from '../layouts/BaseLayout.astro';
// Importiere die Funktion zum Abrufen von Inhalten aus der "pages"-Sammlung
import { getCollection } from 'astro:content';

import KitaCostsTable from '../components/KitaCostsTable.astro';

const kindergartenData = [
  { time: 'Bis 3 Stunden', fee: '80 €' },
  { time: '3 - 4 Stunden', fee: '85 €' },
  { time: '4 - 5 Stunden', fee: '90 €' },
  { time: '5 - 6 Stunden', fee: '95 €' },
  { time: '6 - 7 Stunden', fee: '100 €' },
  { time: '7 - 8 Stunden', fee: '105 €' },
  { time: '8 - 9 Stunden', fee: '110 €' },
];

const krippeData = [
  { time: 'Bis 3 Stunden', fee: '100 €' },
  { time: '3 - 4 Stunden', fee: '105 €' },
  { time: '4 - 5 Stunden', fee: '110 €' },
  { time: '5 - 6 Stunden', fee: '115 €' },
  { time: '6 - 7 Stunden', fee: '120 €' },
  { time: '7 - 8 Stunden', fee: '125 €' },
  { time: '8 - 9 Stunden', fee: '130 €' },
];

const additionalCosts = [
  { time: 'Spiele- und Getränkegeld', fee: '5 €' },
  { time: 'Geschwisterermäßigung', fee: 'Ja' },
];

// Lade den Inhalt der "Anmeldung und Kosten"-Seite aus der Markdown-Datei
const pages = await getCollection('pages');
const anmeldungKostenPage = pages.find(page => page.slug === 'anmeldung-kosten'); // Finde die "anmeldung-kosten.md" Seite

// Stelle sicher, dass die Seite gefunden wurde, sonst leite um oder zeige Fehler
if (!anmeldungKostenPage) {
  return Astro.redirect('/404'); // Oder eine andere Fehlerbehandlung
}

// Extrahiere den gerenderten Inhalt
const { Content } = await anmeldungKostenPage.render();
---
<BaseLayout title={anmeldungKostenPage.data.title}>
    <section class="bg-white rounded-lg shadow-lg p-8 mb-8">
        <h1 class="mb-4">{anmeldungKostenPage.data.title}</h1>
        <div class="text-lg leading-relaxed mb-6">
            <Content /> <!-- Hier wird der Inhalt aus der Markdown-Datei eingefügt -->
        </div>
        <div class="mt-6 text-center">
            <a href="https://portal.little-bird.de/" target="_blank" class="btn btn-primary">
                Zum Little Bird Portal
            </a>
        </div>
    </section>

    <section>
  <h2 >Kosten / Elternbeiträge (monatlich)</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">
  <KitaCostsTable
    title="Kindergarten (ab 3 Jahre)"
    data={kindergartenData}
    note="Für Kinder ab 3 Jahren wird ein Zuschuss von 100 € vom Freistaat Bayern gewährt."
  />

  <KitaCostsTable
    title="Krippe (unter 3 Jahre)"
    data={krippeData}
    note="Seit dem 01.01.2020 wird ein Zuschuss von 100 € für Familien mit Krippenkindern gewährt."
  />

  <KitaCostsTable
    title="Zusätzliche Kosten"
    data={additionalCosts}
  />

  </div>
</section>
</BaseLayout>