---
const { reviewerImage, reviewerQuote, reviewerName, reviewerNameDescription } = Astro.props;
// const testimonials = [
//   {
//     reviewerImage: '/bilder/testimonial-mama-mit-sohn.png',
//     reviewerQuote: 'Die Kita St. Georg Großweil ist ein wunderbarer Ort für Kinder. Mein Sohn liebt es hier zu sein und ich schätze die liebevolle Betreuung und das engagierte Team sehr.',
//     reviewerName: 'Anna M.',
//     reviewerNameDescription: 'Mutter eines 5-jährigen Jungen',
//   },
---

<div class="flex flex-col h-full bg-brand-hoverSoft overflow-hidden rounded-2xl shadow-md p-0">
  <p class="p-6 text-brand-text italic flex-1 pb-0">„{reviewerQuote}“</p>
  <div class="p-6 rounded-md border-brand-hoverSoft flex flex-col sm:flex-row items-center sm:items-center gap-4">
    {reviewerImage && (
      <img
      src={reviewerImage}
      alt={reviewerName}
      class="w-[100px] h-[100px] rounded-full object-cover shrink-0"
      loading="lazy"
      />
    )}
    <div class="text-center sm:text-left">
      <h3 class="text-brand-secondary text-lg font-semibold mb-1">{reviewerName}</h3>
      <p class="text-brand-text text-brand-textGray text-sm">{reviewerNameDescription}</p>
    </div>
  </div>
</div>